body{
    margin: auto;
    text-align: center;
}
img{
    height: 200px;
    width: 250px;
}
#enemy_pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .pokemon_image{
        justify-self: end;
    }
    .pokemon_description{
        justify-self: center;
    }
}